a {
  text-decoration: none;
  color: #EEEEEE;
}

body {
  text-align: center;
  background-color: #222831;
  color: #EEEEEE;
}

h2 {
  margin: auto auto 1% auto;
    font-family: 'Mate SC', serif;
}

h3 {
  margin: auto auto 1% auto;
    font-family: 'Mate SC', serif;
}

h4 {
  margin: auto auto 1% auto;
    font-family: 'Mate SC', serif;
}

table {

}

.hdsk {

}

.orbitron {
  font-family: 'Playfair Display', serif;
   font-size: 115%;
}

.timeam {

}

.copyright {
  color: #EEEEEE;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 12% auto auto auto;
}

